/* body{ background-color: blue;} */
body {
  margin: 0px;
}

.top {
  margin-left: 0px;
  margin-top: 0px;
  height: 65px;
  width: 1374px;
  /* padding: 25px; */
  background-color: lightseagreen;
}

h1 {
  color: mistyrose;
  margin-left: 25%;
  margin-top: 0px;
  margin-bottom: 1px;
}

p {
  color: mistyrose;
  font-style: italic;
  margin-top: 0px;
  margin-left: 25%;
  margin-bottom: 0px;
}

.middle {
  margin-top: 0px;
  height: 35px;
  width: 1374px;
  background-color: mistyrose;
}

.bottom {
  margin: 5px;
  height: 540px;
  width: 99.2%;
  background-color: powderblue;
}
.indextable{
    background-color: powderblue;
   }

.index {
  margin-top: 5px;
  margin-left: 28px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 450px;
  width: 200px;
}

img:hover {
  background-color: lightseagreen;
}

#prise {
  color: black;
  text-decoration-style: solid;
  margin-left: 40px;
  margin-top: opx;
  font-style: normal;
  font-weight: bold;
}

#name {
  color: black;
  margin-top: 0px;
  margin-left: 110px;
  text-decoration-style: solid;
  font-style: normal;
  font-weight: bold;
}

.old {
  margin-left: 10px;
  text-decoration: line-through;
  font-size: 14px;
  color: #878787;
}

.off {
  color: #388e3c;
  margin-left: 20px;
  font-style: normal;
  font-weight: bold;
}

.oneimage {
  margin: 10px;
  padding: 20px;
}

.oneimage:hover {
  background-color: papayawhip;
}

#on {
  margin-top: 5px;
  margin-left: 10px;
  font-style: normal;
  font-weight: bold;
}
